.container  img{
    
    color: red;
 
    width: 210px;

    text-shadow: 0px 0px 0px 20px black;

    cursor: pointer;

}

.border{
    border-bottom:1px solid rgb(172, 60, 60);
}

.border img{
    margin-left: 150px;
}