*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.body{
    background: linear-gradient(180deg
    ,rgb(185, 4, 4) ,black 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* header */
/* header */
/* header */

/* .container  img{
    
    color: red;
 
    width: 210px;

    text-shadow: 0px 0px 0px 20px black;

    cursor: pointer;

}

.border{
    border-bottom:1px solid rgb(172, 60, 60);
}

.border img{
    margin-left: 150px;
} */

/* MainSection */
/* MainSection */
/* MainSection */


.maincontent{

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    color: rgb(253, 253, 253);

    font-size: 15px;

    border: none;
    border-radius: 5px;

}



.maincontent button{
    padding: 10px;

    border-radius: 8px;
        width: 370px;

    background-color: red;
    color: white;

    font-size: 1.2rem;

}

.maincontent select {
 
    margin: 10px;
    width: 90px;

    border: none;

    background: transparent;
    color: white;

}

.maincontentsecond option {
    /* border: none; */

    background-color: rgb(0, 0, 0);
    
    padding: 20px;
    margin: 20px;

    color: white;
}


.maincontentsecond p{
    font-size: 10px;
    letter-spacing: 1px;

}


.maincontentsecond a{
    color: white;
}



/* Footer */
/* Footer */
/* Footer */

.footcontainerback{

    background-color:#161616;
    color: white;
    
}
.footcontainerback h3{
    padding: 30px;
}

.footcontainerback a{
      color: #ffffff;
    
}

.footcontainer{

    background-color:#161616;
    color: white;
    
    padding: 30px; 

    display: flex;
    margin: 10px 0px 20px 190px;
}

.fa1{
    
    margin-right: 20px;
    padding: 20px;

    cursor: pointer;

   
    
}

.fa2{

    margin-right: 50px;
    padding: 20px;

    cursor: pointer;

}


.gap{

    margin: 300px;

}
/*  Media Queries  */


@media screen and (max-width: 480px) {
    body {
        background-size: auto;
    }

    .container img {
        width: 120px;
        margin-left: 10px;
    }

    .maincontent h1 {
        font-size: 20px;
    }

    .maincontent h2 {
        font-size: 12px;
    }

    .maincontent input,
    .maincontent button {
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }

    .maincontent select {
        width: 40px;
        margin: 1px 0;
    }

    .maincontentsecond p {
        font-size: 9px;
    }

    .footcontainer {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {

    .container img {
        width: 150px;
        margin-left: 50px;
    }

    .maincontent {
        flex-direction: column;
        
        padding: 15px;
        margin: 5px;

        text-align: center;
    }

    .maincontent h1 {
        font-size: 24px;
    }

    .maincontent h2 {
        font-size: 14px;
    }

    .maincontent input,
    .maincontent button {
        width: 100%;
        font-size: 14px;
    }

    .maincontent select {
        width: 60px;
        margin: 5px 0;
    }

    .maincontentsecond {
        transform: scale(1);
        margin: 10px 0;
    }

    .border img {
        margin-left: 20px;
    }

    .footcontainer {
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .fa1,
    .fa2 {
        margin-right: 0;
        padding: 10px;
    }
}




