@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Header File CSS Start*/

:root{
  --bg: #000;
  --overlay: rgba(0,0,0,0.6);
  --accent: #e50914;
  --muted: #c5c5c5;
  --card-bg: rgba(34,34,34,0.85);
}

*{
  box-sizing: border-box;
  text-decoration: none;
}

html,body{
  height:100%;
}

body{
  margin:0px;
  font-family: "Montserrat", sans-serif;

  color: #fff;

  background-image: url('/public/img3.jpeg');
  background-size: cover;
  background-position:center;
  background-attachment: fixed;

  -webkit-font-smoothing:antialiased;
}


.nav{
  padding: 10px 20px;
  height:72px;

  display:flex;
  align-items:center;
  justify-content:space-between;
  
  background: linear-gradient(180deg, rgba(0,0,0,0.45) 0%, transparent 100%);
}

.navdata{ 
  display:flex; 
  align-items:center; 
  
  width:99%; 

    max-width: 1200px; /* fixed width for center alignment */
  margin: 0 auto; /* centers the whole nav content */
  padding: 0 20px;
}

.navdata img{ 
  width:170px; 
  max-width:40%; 

  margin:0px;

  height:auto; 
  object-fit:contain; 
}

.sign-btn{  
  margin-left:auto;
  
  
  background:var(--accent);

  color:white;

  border:none;
  
  padding:10px 16px;
  
  border-radius:8px;
  
  cursor:pointer;
  
  font-weight:600;
}

.navdata a{
  color:white;
  letter-spacing: 1px;
}


/* Header File CSS End */
/* Header File CSS End */
/* Header File CSS End */

/*  */

/* MAIN FILE CSS START */
/* MAIN FILE CSS START */
/* MAIN FILE CSS START */

.container{ 
  
  display:flex; 
  justify-content:center; 
  align-items:center; 

  padding:60px 20px; 
}

.contex{ 
  text-align:center; 
  
  max-width:820px; 
  
  width:100%; 
  
  padding:30px; 
  
  border-radius:10px; 


}

.contex h1{ 
  font-size: clamp(1.8rem, 4.2vw, 3.6rem); 
  
  margin-bottom:8px; 
}

.contex h5{ 
  margin:12px 0; 
  
  color: white;
  
  font-weight:500; 
}

.contex p{ 
  margin-bottom:18px; 
  
  color: white; 
  
  font-size:1rem; 
}

.cta{ 
  display:flex; 
  justify-content:center; 
  align-items:center; 

  gap:12px; 
  
  flex-wrap:wrap; 
}

.cta input{ 
  padding:20px; 
  
  border-radius:8px; 
  
  border:none; 
  width: 370px;
  
  background: rgba(0,0,0,0.5); 
  color:#fff; 
  
  outline:none; 
}

.cta-btn{ 
  background:var(--accent); 
  color: white;
  
  border:none; 
  border-radius:8px; 

  padding:20px 18px; 
  
  cursor:pointer; 
  
  font-weight:700; 
}


.trending{ 
  background:var(--bg); 
  
  border-top:3px solid var(--accent); 
  
  padding:25px 0; 
  margin-top:20px; 
}

.trending h2{ 
  font-size:1.6rem; 
  
  padding-left:120px; 
  margin:0 0 10px 0; 
}


.trending-inner{ 
  position:relative; 
  display:flex; 
  align-items:center; 
  
  gap:12px; 
  padding:12px 138px; 

}

.movie-slider{
  display:flex;
  
  gap:40px;
  
  overflow-x:auto;

  scroll-behavior:smooth;
  
  padding-bottom:6px;
  
  /* -webkit-overflow-scrolling:touch; */
}

.movie-slider::-webkit-scrollbar{ 
  height:8px; 
}


.movie{ 
  position:relative; 
  
  flex: 0 0 auto; 
  transition: all 0.2s ease;
  
  /* width: 210px;  */
}

.movie img{ 
  width:100%; 
  height: 260px; 
  
  object-fit:cover; 
  
  border-radius:5px; 
  
  display:block; 
}

.movie:hover{ 
  transform:scale(1.05); 
  
  cursor:pointer; 
}

.rank{ 
  position:absolute; 
  left:5px; 
  bottom:1px; 
  
  font-size:4.2rem; 
  font-weight:900; 

  color:#000; 
  -webkit-text-stroke:1px #fff; 
}


.scroll-btn{
  position:absolute;
  top:50%;

  transform:translateY(-50%);

  background: rgba(110, 107, 107, 0.288);
  color:#fff;

  width: 30px;
  height: 130px;

  border:none;
  border-radius:10px;

  font-size:1.9rem;

  padding:10px;

  z-index:10;

  display:flex;
  align-items:center;
  justify-content:center;

  cursor:pointer;
}

.scroll-btn.left{ 
  left:100px; 
}

.scroll-btn.right{ 
  right:100px; 
}

.empty{
  background-color: black;
  padding: 20px;
}

/*  */
/*  */
/*  */


.des{ 
  padding:28px 18px; 
  
  background:var(--bg); 

}

.des h3{ 
  font-size:1.8rem; 
  margin-left:140px; 
}

.center{ 
  display:flex; 
  justify-content:center; 
  
  flex-wrap:wrap; 

  gap:20px; 
  
  padding:20px 0; 
}

.dbox{ 
  width:250px; 
  height:300px; 
  
  border:1px solid rgba(255,255,255,0.06); 
  border-radius:14px; 

  overflow:hidden; 
  padding:16px; 

  background-size:cover; 
  background-position:center; 
  }

.dbox p{ 
  font-size:0.99rem; 

  line-height:1.3; 

  color:var(--muted); 
}

.dbox i{ 
  display:block; 

  margin-top:auto; 

  font-size:1.9rem; 

  opacity:0.95; 
}

.dbox , .dbox1{
  background: linear-gradient(
  160deg ,
  rgba(0, 0, 100, 0.575), 
  rgba(97, 0, 65, 0.466));

}

/*  */
/*  */
/*  */

.midcon{ 
  background:var(--bg); 
  


  padding: 120px;
  
}

.dd1{
background-color: rgb(46, 45, 45);
color: white;

padding: 10px;
margin: 10px;

transition: all 0.35s ease;
}



.dd1 h1 i {
  font-size: 25px;
  
  color: white;
  
  float: right;

  cursor: pointer;
  
  margin-right: 15px;

}

#data1 ,
#data3 ,
#data5 ,
#data7 ,
#data9 ,
#data11 {
  cursor: pointer;
}

#data1:hover ,
#data3:hover ,
#data5:hover ,
#data7:hover ,
#data9:hover ,
#data11:hover {

  background-color: rgb(75, 73, 73);  

}

#data1 p,
#data3 p,
#data5 p,
#data7 p,
#data9 p,
#data11 p{
  display: none;

}

/*  */






/* FOOTER MAIN FILE CSS START */
/* FOOTER MAIN FILE CSS START */
/* FOOTER MAIN FILE CSS START */
/* FOOTER MAIN FILE CSS START */
/* FOOTER MAIN FILE CSS START */

.footcon{ 
  
  background-color: black;

  padding:40px 30px; 
  color: white;

}

.fctext{ 
  text-align:center; 
  margin-bottom:20px; 
  
}

.fctext input{ 
  padding:20px; 

  margin-right:12px; 

  
  border-radius:8px; 

  background:rgb(31, 30, 30); 
  color:#fff; 

}

.fctext input::placeholder{
color: rgba(201, 199, 199, 0.932);
}

.fctext button{

background-color: red;
color: white;

width: 200px;
height: 8vh;

font-size: 1.6rem;


border-radius: 5px;

transition: all 0.4s ease;
cursor: pointer;
}


.fctext button:hover{

background-color: rgba(255, 0, 0, 0.795);

}

.h3 a{

margin-left: 170px;
color: white;

}

.dtext2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dt2 ,.dt3,.dt4,.dt5{
  margin-right: 90px;
}

.dt2 a{
color: white;
display: flex;
text-align: center;

margin-bottom: 15px;

}

.dt3 a{
color: white;
display: flex;
text-align: center;

margin-bottom: 15px;
}

.dt4 a{
color: white;
display: flex;
text-align: center;

margin-bottom: 15px;
}

.dt5 a{
color: white;
display: flex;
text-align: center;

margin-bottom: 15px;
}


.checkbox{
  margin-left: 170px;
}

.checkbox select{
  padding: 10px;
  background: transparent;
  color: white;
  border-radius: 10px;
}

.checkbox select option{
  background: black;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.dt123 h3{
  margin-left: 170px;
  color: rgb(231, 227, 227);
}

.dt123 p{
  margin-left: 170px;
  margin-bottom: 100px;
}



@media (max-width: 320px) {
  
  .navdata img {
    width: 100px;
  }

  .sign-btn {
    padding: 6px 10px;
    font-size: 0.75rem;
  }


  .midcon {
    padding: 8px 8px;
    font-size: 10px;
  }

  .dd1 h1 i {
    font-size: 16px;
    margin-right: 5px;
    top: 5px;
  }

  .movie {
    width: 120px;
  }

  .movie img {
    height: 150px;
  }

  .contex {
    padding: 10px;
  }

  .cta input {
    width: 100%;
    padding: 10px;
  }

  .cta-btn {
    padding: 12px 10px;
    font-size: 0.8rem;
  }

  .fctext input {
    width: 90%;
    padding: 10px;
  }

  .fctext button {
    width: 150px;
    height: 6vh;
    font-size: 1rem;
  }
  
  .trending h2{

    padding-left: 60px;
  }

  .trending-inner{
    
    padding:12px 65px; 
  }

  .scroll-btn.left {
    left: 30px;
  }

  .scroll-btn.right{ 
    right: 35px;
  }
  
  .des h3{
    margin-left: 10px;
  }

  .dtext2{
    flex-direction: column;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }
}


@media (max-width: 768px) {

  .navdata img {
    width: 140px;
  }

  .sign-btn {
    padding: 10px 14px;
    font-size: 0.9rem;
  }

  .dd1 h1 i {
    font-size: 20px;
    margin-right: 8px;
  }

  .movie {
    width: 160px;
  }

  .movie img {
    height: 200px;
  }

  .midcon {
    padding: 15px;
    font-size: 12px;
  }

  .contex {
    padding: 15px;
  }

  .des h3{
    margin-left: 35px;
  }
  
  /* .dtext2{
    flex-direction:row;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }

}


@media (max-width: 1024px) {

  .navdata img {
    width: 150px;
  }

  .sign-btn {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .dd1 h1 i {
    font-size: 22px;
    margin-right: 10px;
  }

  .movie {
    width: 180px;
  }

  .movie img {
    height: 220px;
  }

  .midcon {
    padding: 20px;
    font-size: 13px;
  }

  .contex {
    padding: 20px;
  }

  .des h3{
    margin-left: 35px;
  }
  
  .dtext2{
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }

}


@media (min-width: 1025px) {

  .navdata img {
    width: 170px;
  }

  .sign-btn {
    padding: 14px 18px;
    font-size: 1.1rem;
  }

  .dd1 h1 i {
    font-size: 25px;
    margin-right: 15px;
  }

  .movie {
    width: 210px;
  }

  .movie img {
    height: 260px;
  }

  .midcon {
    padding: 120px;
    font-size: 16px;
  }

  .contex {
    padding: 30px;
  }

  .des h3{
    margin-left: 35px;
  }
  
  .dtext2{
    /* flex-direction: row; */


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }

}

