@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
  --bg: #000;
  --overlay: rgba(0,0,0,0.6);
  --accent: #e50914;
  --muted: #c5c5c5;
  --card-bg: rgba(34,34,34,0.85);
}

*{
  box-sizing: border-box;
  text-decoration: none;
}

html,body{
  height:100%;
}

body{
  margin:0px;
  font-family: "Montserrat", sans-serif;

  color: #fff;

  background-image: url('/Images/img3.jpeg');
  background-size: cover;
  background-position:center;
  background-attachment: fixed;

  -webkit-font-smoothing:antialiased;
}

@media (max-width: 320px) {
  
  .navdata img {
    width: 100px;
  }

  .sign-btn {
    padding: 6px 10px;
    font-size: 0.75rem;
  }


  .midcon {
    padding: 8px 8px;
    font-size: 10px;
  }

  .dd1 h1 i {
    font-size: 16px;
    margin-right: 5px;
    top: 5px;
  }

  .movie {
    width: 120px;
  }

  .movie img {
    height: 150px;
  }

  .contex {
    padding: 10px;
  }

  .cta input {
    width: 100%;
    padding: 10px;
  }

  .cta-btn {
    padding: 12px 10px;
    font-size: 0.8rem;
  }

  .fctext input {
    width: 90%;
    padding: 10px;
  }

  .fctext button {
    width: 150px;
    height: 6vh;
    font-size: 1rem;
  }
  
  .trending h2{

    padding-left: 60px;
  }

  .trending-inner{
    
    padding:12px 65px; 
  }

  .scroll-btn.left {
    left: 30px;
  }

  .scroll-btn.right{ 
    right: 35px;
  }
  
  .des h3{
    margin-left: 10px;
  }

  .dtext2{
    flex-direction: column;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }
}


@media (max-width: 768px) {

  .navdata img {
    width: 140px;
  }

  .sign-btn {
    padding: 10px 14px;
    font-size: 0.9rem;
  }

  .dd1 h1 i {
    font-size: 20px;
    margin-right: 8px;
  }

  .movie {
    width: 160px;
  }

  .movie img {
    height: 200px;
  }

  .midcon {
    padding: 15px;
    font-size: 12px;
  }

  .contex {
    padding: 15px;
  }

  .des h3{
    margin-left: 35px;
  }
  
  /* .dtext2{
    flex-direction:row;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }

}


@media (max-width: 1024px) {

  .navdata img {
    width: 150px;
  }

  .sign-btn {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .dd1 h1 i {
    font-size: 22px;
    margin-right: 10px;
  }

  .movie {
    width: 180px;
  }

  .movie img {
    height: 220px;
  }

  .midcon {
    padding: 20px;
    font-size: 13px;
  }

  .contex {
    padding: 20px;
  }

  .des h3{
    margin-left: 35px;
  }
  
  .dtext2{
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }

}


@media (min-width: 1025px) {

  .navdata img {
    width: 170px;
  }

  .sign-btn {
    padding: 14px 18px;
    font-size: 1.1rem;
  }

  .dd1 h1 i {
    font-size: 25px;
    margin-right: 15px;
  }

  .movie {
    width: 210px;
  }

  .movie img {
    height: 260px;
  }

  .midcon {
    padding: 120px;
    font-size: 16px;
  }

  .contex {
    padding: 30px;
  }

  .des h3{
    margin-left: 35px;
  }
  
  .dtext2{
    /* flex-direction: row; */


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .checkbox{
      margin-left: auto;
  }

  .h3 a{
    margin-left: 10px;
  }

  .dt123 h3  {
      margin-left: auto;
  }

  .dt123 p{
      margin-left: auto;
  }

}

